@use "theme";
@use "reset";
@use "navbar";
@use "main";
@use "footer";
@use "form";

:root {
  overflow-y: auto;
  background-color: theme.$background;
}

* {
  color-scheme: dark;
  color: theme.$foreground;
  font-family: "JetBrains Mono", "Fira Code", monospace;
}

* {
  font-size: 1rem;
}

h5,
h5 * {
  font-size: 1.2rem !important;
}

h4,
h4 * {
  font-size: 1.4rem !important;
  margin: 1rem 0 0.5rem 0;
}

h3,
h3 * {
  font-size: 1.6rem !important;
  margin: 1rem 0 0.5rem 0;
}

h2,
h2 * {
  font-size: 1.8rem !important;
  margin: 2rem 0 0.5rem 0;
}

h1,
h1 * {
  font-size: 2rem !important;
  margin: 4rem 0 2rem 0;
}

@supports (-webkit-background-clip: text) {
  h1 {
    background-image: linear-gradient(
      theme.$gradientDegree,
      theme.$purple 0,
      theme.$cyan 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}
